.UIContainer {
  position: absolute;
  z-index: 1;
  background-color: rgb(0,0,0);
  opacity: 0.8;
}

.UIContainer .content {
  padding: 8px 8px 8px 8px;
  min-height: 100px;
}

.UIContainer .header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: rgb(30,30,30);
  color: #fff;
}

.UIContainer .history {
  width: 300px;
  min-width: 200px;
  max-width: 600px;
  height: 200px;
  box-sizing: border-box;   
  -moz-box-sizing: border-box; /* For IE and modern versions of Chrome */
  -webkit-box-sizing: border-box; /* For Firefox */
  resize: horizontal; /* For Safari */
  outline: none;
	background-color: black;
	color: white;
	border: 0;
}

.UIContainer .input {
  bottom: 8px;
}

#input {
	background-color: black;
	color: white;
	outline: none;
	border-color: rgb(20, 20, 20);
	border-style: dashed;
	width: 50%;
}