body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  background-color: rgb(20, 20, 20);
}

canvas { /* Three.js Canvas */
	position: absolute; top: 0; right: 0; left: 0; bottom: 0;
	width: 100%; height: 100%;
}

#defaultCanvas0 { /* p5.js Canvas */
  position: absolute; top: 0; right: 0; left: 0; bottom: 0;
}

button {
	transition: 0.5s;
	padding: 10px 15px 10px 15px;
  border-radius: 5px;
  background-color: black;
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
	text-align: center;
	width: 50%;
	margin-top: 20px;
	display: inline-block;
}

button:hover {
	background: hotpink;
}

.element {
  float: left;
  background-color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  text-align: center;
  padding: 6px;
  border-radius: 15px;
  opacity: 0.8;
  position: relative; z-index: 1;
}
